<%- include('header.ejs') %>
    <div class="container all-boards-container">
        <div>
            <div class="spacer"></div>
            <h2><%= room.Name %></h2>
            <div class="spacer"></div>
        </div>
        <div class="container view-selector">
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>">My Board</a>
            </button>
            <div class="spacer"></div>
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>/boards">All Boards</a>
            </button>
            <div class="spacer"></div>
            <button class="selected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>/chat">Chat</a>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="container chatbox-container">
            <div class="container chats-container">
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
                <div class="container chat-container">
                    User1: Hiiiiii
                </div>
                <div class="container chat-container">
                    User2: Heyo
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Hello!" size="50">
            </div>
        </div>
        <div class="spacer"></div>
    </div>

<%- include('footer.ejs') %>