<%- include('header.ejs') %>
    <div class="container all-boards-container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2><%= room.Name %></h2>
            <div class="spacer"></div>
        </div>
        <div class="container view-selector">
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>">My Board</a>
            </button>
            <div class="spacer"></div>
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>/boards">All Boards</a>
            </button>
            <div class="spacer"></div>
            <button class="selected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>/chat">Chat</a>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="container chatbox-container">
            <div class="container chats-container" id="chats">
                <% for (let i = room.Chats.length-1; i >= 0; i--) { %>
                    <% if (room.Chats[i].PlayerID != PlayerID) { %>
                        <div class="container chat-container">
                            <p class="chat"><% if (room.Chats[i].PlayerID != "0") { %><span><%=room.Chats[i].PlayerName%>: </span><% } %><%=room.Chats[i].Text%></p>
                        </div>
                    <% } else { %>
                        <div class="container chat-container">
                            <p class="chat"><span>Me: </span><%=room.Chats[i].Text%></p>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div class="container chat-input-container">
                <form id="chat-form">
                    <input type="text" id="chatbox" placeholder="Hello..." maxlength="30" class="chat-input" autofocus onfocus="this.select()" autocomplete="off">
                    <button class="chat-submit" onclick="chatSubmission()"></button>
                </form>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <!-- <script src="http://<%= IP %>:3000/socket.io/socket.io.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var form = document.getElementById("chat-form");
        function handleForm(event) { 
            event.preventDefault();
            document.getElementById("chatbox").value = "";
        } 
        form.addEventListener('submit', handleForm);

        var socket = io();

        socket.emit('joinRoom', '<%=roomID%>');

        socket.on('chat', (senderID, senderName, chatMessage) => {
            // Somebody submitted a chat in this room!
            // alert(chatMessage);

            // var chats = JSON.parse('<%- JSON.stringify(room.Chats) %>');
            var meID = JSON.parse('<%- JSON.stringify(PlayerID) %>');

            // If it didn't come from current user, add it to view
            if (senderID != meID) {
                let newChat = { 
                    PlayerID: senderID,
                    PlayerName: senderName,
                    Text: chatMessage,
                };

                addChat(newChat);
            } else {
                // alert("I sent it!");
            }
        });

        socket.on('refresh', (senderName, ID, Wins) => {
            var meID = JSON.parse('<%- JSON.stringify(PlayerID) %>');

            let newChat = { 
                PlayerID: "0",
                PlayerName: "",
                Text: `${senderName} has finished a line & refreshed their board.`,
            };

            addChat(newChat);
        });

        socket.on('newPlayer', (playerID, playerName) => {
            var meID = JSON.parse('<%- JSON.stringify(PlayerID) %>');

            let newChat = { 
                PlayerID: "0",
                PlayerName: "",
                Text: `${playerName} has joined the game!`,
            };

            addChat(newChat);
        });

        function chatSubmission() {
            let chat = document.getElementById('chatbox').value;
            // alert(chat);

            // var chats = JSON.parse('<%- JSON.stringify(room.Chats) %>');
            var meID = JSON.parse('<%- JSON.stringify(PlayerID) %>');

            let newChat = {
                PlayerID: meID,
                PlayerName: "Me",
                Text: chat,
            }
            
            // alert(newChat);
            addChat(newChat);

            // Send info off to update db
            socket.emit('chat', '<%=PlayerID%>', chat, '<%=roomID%>');
        }

        function addChat(chat) {
            var meID = JSON.parse('<%- JSON.stringify(PlayerID) %>');

            let existingChats = document.getElementById('chats').innerHTML;
            let newChat;

            if (chat.PlayerID == meID) {
                newChat = `<div class="container chat-container"><p class="chat"><span> Me: </span>${chat.Text}</div>`;
            } else if (chat.PlayerID == "0") {
                newChat = `<div class="container chat-container"><p class="chat">${chat.Text}</div>`;
            }
            else {
                newChat = `<div class="container chat-container"><p class="chat"><span> ${chat.PlayerName}: </span>${chat.Text}</div>`;
            }

            document.getElementById('chats').innerHTML = newChat + existingChats;
        }
    </script>

<%- include('footer.ejs') %>