<%- include('header.ejs') %>
<div class="container create-container create-sub-container">
    <div class="container" style="margin-bottom: 2vh;">
        <h2>
            Create Your Room
        </h2>
    </div>
    <form class="container new-room-form" action="/create" method="post">
        <div class="container room-name-input-container create-sub-container">
            <div>
                <h3>
                    Room Name
                </h3>
            </div>
            <div class="spacer"></div>
            <input type="text" class="room-name-input" id="room-name-input" name="roomName" size="15" maxlength="25" placeholder="Jim's Golf Trip 2025" autocomplete="off" required>
        </div>
        <div class="container create-sub-container" style="flex-direction: row;">
            <div>
                <h3>
                    Board Size
                </h3>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div>
                <input type="radio" id="3x3" name="boardSize" value="3" checked>
                <label for="3x3">3x3</label><br>
                <input type="radio" id="4x4" name="boardSize" value="4">
                <label for="4x4">4x4</label><br>
            </div>
        </div>
        <div class="container create-sub-container" style="margin-top: 2vh; margin-bottom: 2vh;">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <h3>
                    Wuddle happen?
                </h3>
                <a href="/info"><img class="info" style="filter: none; padding-left: 7px; padding-top: 4px;" src="/images/info.svg"></a>
            </div>

            <div class="container create-sub-container">
                <textarea id="events" name="events" class="events-textarea" rows="16" cols="40" placeholder="Enter events!&#10;&#10;Seperate events with a new line (enter).&#10;For a 3x3 board, enter 9+ events.&#10;For a 4x4 board, enter 16+ events.&#10;&#10;Each event should be no longer than 40 characters, which is the width of this box" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="container create-sub-container">
            <div>
                <h3>Invite Players</h3>
            </div>
            <div class="create-sub-container" style="margin-bottom: 0;">
                <textarea readonly class="events-textarea" id="roomInvite" cols="40" rows="12">
Come play WUDDLE!

Guess what crazy things your friends and family will do!

Follow this link to join the room: 
play-wuddle.com/rooms/<%= roomID %> 

Or, go to play-wuddle.com and enter room code: 
<%= roomID %></textarea>
            </div>
            <div class="container">
                <p class="invite-tooltip">^ Send this invitation to players after creating the room! ^</p>
            </div>
            <input type="text" style="display: none;" name="roomID" value="<%= roomID %>">
        </div>
        <div class="container create-sub-container">
            <button type="submit" class="room-button">Create Room</button>
        </div>
    </form>
    <div></div>
</div>

<script>
    $('.room-name-input').on("change", function() {
        let inviteScript1 = `Come play WUDDLE!

Guess what crazy things your friends and family will do during
'`;

        let inviteScript2 = `'

Follow this link to join the room: 
play-wuddle.com/rooms/<%= roomID %> 

Or, go to play-wuddle.com and enter room code: 
<%= roomID %>`;

        document.getElementById("roomInvite").innerHTML = inviteScript1 + document.getElementById("room-name-input").value + inviteScript2;
        document.getElementById("roomInvite").select();
    });
</script>

<%- include('footer.ejs') %>