<%- include('header.ejs') %>
    <div class="container personal-board-container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2><%= Room.Name %></h2>
            <div class="spacer"></div>
        </div>
        <div class="container view-selector">
            <button class="selected">
                <a href="/rooms/<%=roomID%>/<%=Player.ID%>">My Board</a>
            </button>
            <div class="spacer"></div>
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=Player.ID%>/boards">All Boards</a>
            </button>
            <div class="spacer"></div>
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=Player.ID%>/chat">Chat</a>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="container board-grid-container">
            <div class="personal-board" id="board">
                <% for (let i = 0; i < 9; i++) { %>
                    <% if (Player.BoardState[i] == true ) { %>
                        <div class="square" id="<%= i %>" style="background-color: #4daa57;" onClick="eventHappened(<%= i %>)">
                            <div>
                                <h4><%= Player.Events[i] %></h4>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="square" id="<%= i %>" onClick="eventHappened(<%= i %>)">
                            <div>
                                <h4><%= Player.Events[i] %></h4>
                            </div>
                        </div>  
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="container icons-container">
            <button class="trash-button" onclick="clearAll()">
                <img src="/images/trash-can.svg" class="trash">
            </button>
            <button class="copy-button" onclick="copyInvite()">
                <img src="/images/copy.svg" class="copy">
            </button>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <!-- <script src="http://<%= IP %>:3000/socket.io/socket.io.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        // Do this to have this socket join the room on the server side
        socket.emit('joinRoom', '<%=roomID%>');

        // Do this to have this socket  announce to room.ejs that a player joined
        socket.emit('announcePlayer', '<%=roomID%>', '<%=Player.ID%>', '<%=Player.DisplayName%>');

        function eventHappened(i) {
            document.getElementById(i).style.backgroundColor= "#4daa57";

            socket.emit('hit', '<%=Player.ID%>', i, '<%=roomID%>');
        }

        function clearAll() {
            for (let i=0; i<9; i++) {
                document.getElementById(i).style.backgroundColor= "white";
            }
            socket.emit('clear', '<%=Player.ID%>', '<%=roomID%>');
        }

        function copyInvite() {
            navigator.permissions.query({ name: "clipboard-write" }).then((result) => {
                if (result.state === "granted" || result.state === "prompt") {
                    navigator.clipboard.writeText("<%=Player.Name%> has invited you to play Wuddle!\nFollow this link to join the room '<%= Room.Name %>' https://play-wuddle.com/rooms/<%= Room.ID %>\nPlease ensure you have cookies turned on!");
                    // alert("Invite copied to clipboard!");
                }
                else {
                    alert("Copy failed.");
                }
            });
        }
    </script>


<%- include('footer.ejs') %>