<%- include('header.ejs') %>
    <div class="container personal-board-container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2><%= Room.Name %></h2>
            <div class="spacer"></div>
        </div>
        <div class="container view-selector">
            <button class="selected">
                <a href="/rooms/<%=roomID%>/my-board">My Board</a>
            </button>
            <div class="spacer"></div>
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/boards">All Boards</a>
            </button>
            <div class="spacer"></div>
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/chat">Chat</a>
            </button>
        </div>
        <div class="spacer"></div>
        <% if (Room.BoardSize == 3) { %>
            <div class="container board-grid-container">
                <div class="personal-board" id="board">
                    <% for (let i = 0; i < 9; i++) { %>
                        <% if (Player.BoardState[i] == true ) { %>
                            <div class="square" id="<%= i %>" style="background-color: #4daa57;" onClick="eventHappened(<%= i %>)">
                                <div class="container square-text-container">
                                    <p class="square-text"><%= Player.Events[i] %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="square" id="<%= i %>" onClick="eventHappened(<%= i %>)">
                                <div class="container square-text-container">
                                    <p class="square-text"><%= Player.Events[i] %></p>
                                </div>
                            </div>  
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } else if (Room.BoardSize == 4) { %>
            <div class="container board-grid-container">
                <div class="personal-board-4" id="board">
                    <% for (let i = 0; i < 16; i++) { %>
                        <% if (Player.BoardState[i] == true ) { %>
                            <div class="square" id="<%= i %>" style="background-color: #4daa57;" onClick="eventHappened(<%= i %>)">
                                <div class="container square-text-container">
                                    <p class="square-text-4"><%= Player.Events[i] %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="square" id="<%= i %>" onClick="eventHappened(<%= i %>)">
                                <div class="container square-text-container">
                                    <p class="square-text-4"><%= Player.Events[i] %></p>
                                </div>
                            </div>  
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } else if (Room.BoardSize == 5) { %>
            <div class="container board-grid-container">
                <div class="personal-board-5" id="board">
                    <% for (let i = 0; i < 25; i++) { %>
                        <% if (Player.BoardState[i] == true ) { %>
                            <div class="square" id="<%= i %>" style="background-color: #4daa57;" onClick="eventHappened(<%= i %>)">
                                <div class="container square-text-container">
                                    <p class="square-text-5"><%= Player.Events[i] %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="square" id="<%= i %>" onClick="eventHappened(<%= i %>)">
                                <div class="container square-text-container">
                                    <p class="square-text-5"><%= Player.Events[i] %></p>
                                </div>
                            </div>  
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
        <div class="container icons-container">
            <a class="trash-button icon-label" title="Rules" href="/info">
                <img src="/images/info.svg" class="trash">
                <p class="icon-label" style="f">Rules</p>
            </a>
            <div class="spacer"></div>
            <button class="trash-button" title="Clear Board" onclick="clearAll()">
                <img src="/images/trash-can.svg" class="trash">
                <p class="icon-label">Clear Board</p>
            </button>
            <div class="spacer"></div>
            <button class="refresh-button" title="New Board" onclick="newBoard()">
                <img src="/images/refresh.svg" id="refresh" class="refresh">
                <p class="icon-label">New Board</p>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="container">
            <h3>
                Player Code:&nbsp;<span style="color: black; font-size: calc(2.5vh + 1vw);"><%= Player.ID %>&nbsp;</span>
                <!-- <button class="copy-button" id="opener" title="Copy Invitation" onclick="copyInvite()">
                    <img src="/images/copy.svg" class="copy">
                </button> -->
            </h3>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <!-- <script src="http://<%= IP %>:3000/socket.io/socket.io.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.emit('joinRoom', '<%=roomID%>');

        var WinCondition = JSON.parse('<%- JSON.stringify(Player.WinCondition) %>');
        var BoardState = JSON.parse('<%- JSON.stringify(Player.BoardState) %>');
        var BoardSize = JSON.parse('<%- JSON.stringify(Room.BoardSize) %>');

        if (WinCondition == false) {
            document.getElementById("refresh").style = "opacity: 0.40";
        } else {
            document.getElementById("refresh").style = "opacity: 1";
        }

        function eventHappened(i) {
            if (BoardState[i] == false) {
                // Only announce hit if not already checked off.
                socket.emit('hit', '<%=Player.ID%>', i, '<%=roomID%>');
            }

            document.getElementById(i).style.backgroundColor = "#4daa57";
            BoardState[i] = true;

            WinCondition = false;

            // Check to see if they have won after this hit
            let board = BoardState;
            if (BoardSize == 3) {
                if (board[0] && board[3] && board[6] || board[1] && board[4] && board[7] || board[2] && board[5] && board[8] || board[0] && board[1] && board[2] || board[3] && board[4] && board[5] || board[6] && board[7] && board[8] || board[0] && board[4] && board[8] || board[2] && board[4] && board[6]) {
                    // update the player's wincondition
                    WinCondition = true;
                    document.getElementById("refresh").style = "opacity: 1;";
                }
            } else if (BoardSize == 4) {
                if (board[0] && board[4] && board[8] && board[12] || board[1] && board[5] && board[9] && board[13] || board[2] && board[6] && board[10] && board[14] || board[3] && board[7] && board[11] && board [15] || board[0] && board[1] && board[2] && board[3] || board[4] && board[5] && board[6] && board[7] || board[8] && board[9] && board[10] && board[11] || board[12] && board[13] && board[14] && board[15] || board[0] && board[5] && board[10] && board[15] || board[3] && board[6] && board[9] && board[12]) {
                    // update the player's wincondition
                    WinCondition = true;
                    document.getElementById("refresh").style = "opacity: 1;";
                }
            } else if (BoardSize == 5) {
                if (board[0] && board[5] && board[10] && board[15] && board[20] || board[1] && board[6] && board[11] && board[16] && board[21] || board[2] && board[7] && board[12] && board[17] && board[22] || board[3] && board[8] && board[13] && board [18] && board[23] || board[4] && board[9] && board[14] && board [19] && board[24] || board[0] && board[1] && board[2] && board[3] && board[4] || board[5] && board[6] && board[7] && board[8] && board[9] || board[10] && board[11] && board[12] && board[13] && board[14] || board[15] && board[16] && board[17] && board[18] && board[19] || board[20] && board[21] && board[22] && board[23] && board[24] || board[0] && board[6] && board[12] && board[18] && board[24] || board[4] && board[8] && board[12] && board[16] && board[20]) {
                    // update the player's wincondition
                    WinCondition = true;
                    document.getElementById("refresh").style = "opacity: 1;";
                }
            }
        }

        function clearAll() {
            WinCondition = false;

            if (BoardSize == 3) {
                for (let i=0; i<9; i++) {
                    document.getElementById(i).style.backgroundColor= "white";
                    BoardState[i] = false;
                }
            } else if (BoardSize == 4) {
                for (let i=0; i<16; i++) {
                    document.getElementById(i).style.backgroundColor= "white";
                    BoardState[i] = false;
                }
            } else if (BoardSize == 5) {
                for (let i=0; i<25; i++) {
                    document.getElementById(i).style.backgroundColor= "white";
                    BoardState[i] = false;
                }
            }
            socket.emit('clear', '<%=Player.ID%>', '<%=roomID%>');
        }

        function newBoard() {
            if (WinCondition) {
                socket.emit('refresh', '<%=Player.ID%>', '<%=Room.ID%>');
                setTimeout(function() {
                    socket.emit('clear', '<%=Player.ID%>', '<%=roomID%>');
                    // alert("New Board!");
                    // TECHNICALLY works but I would like a more elegant solution at some point...
                    location.reload();
                }, 500);
            }
            else {
                alert("Must complete a line first!");
            }
        }

        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>


<%- include('footer.ejs') %>
