<%- include('header.ejs') %>
    <div class="container all-boards-container">
        <div>
            <div class="spacer"></div>
            <h2><%= room.Name %></h2>
            <div class="spacer"></div>
        </div>
        <div class="container view-selector">
            <button class="unselected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>">My Board</a>
            </button>
            <div class="spacer"></div>
            <button class="selected">
                <a href="/rooms/<%=roomID%>/<%=PlayerID%>/boards">All Boards</a>
            </button>
        </div>
        <div class="container grid-container">
            <div class="boardGrid">
                <% for (let i = 0; i < room.Players.length; i++) { %>
                    <div class="container blank-board-container">
                        <div class="blank-board" id="<%= room.Players[i].ID %>">
                            <% for (let j = 0; j < 9; j++) { %>
                                <% if (room.Players[i].BoardState[j] == true ) { %>
                                    <div class="blank-square" id="<%= room.Players[i].ID %><%= j %>" style="background-color: #4daa57;">
                                        <div>
                                            <!-- Individual square of individiual player -->
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="blank-square" id="<%= room.Players[i].ID %><%= j %>">
                                        <div>
                                            <!-- Individual square of individiual player -->
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <h4><%= room.Players[i].DisplayName %></h4>
                    </div>
                <% } %>
            </div>
        </div>
        <div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </div>

    <script src="http://<%= IP %>:3000/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        socket.emit('joinRoom', '<%=roomID%>');

        // Register hits from player pages and change color of given square
        socket.on('hit', (playerID, hitIndex, room) => {
            document.getElementById(playerID + hitIndex).style.backgroundColor = "#4daa57";
        });

        socket.on('newPlayer', (PlayerID, PlayerName) => {
            // TECHNICALLY works but I would like a more elegant solution at some point...
            // Some method of adding the new board to the list of boards and having it recognized
            location.reload();
        });

        socket.on('clear', (PlayerID) => {
            for (let i = 0; i < 9; i++) {
                document.getElementById(PlayerID + i.toString()).style.backgroundColor = "white";
            }
        });
    </script>

<%- include('footer.ejs') %>