<!DOCTYPE html>
<html>
<head>
    <!-- FOR WHATEVER REASON when using dynamic routes, you need a / at the start of the CSS link -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>Bingo! With Friends</title>
</head>

<body>
    <div class="container">

        <h2>Welcome to Room <%= roomID %></h2>

        <div class="board" id="board">
            <div class="square">
                <div>
                    <%= squares[0] %>
                </div>
            </div>
            <div class="square">
                <div>
                    <%= squares[1] %>
                </div>
            </div>
            <div class="square">
                <div>
                    <%= squares[2] %>
                </div>
            </div>

            <div class="square">
                <div>
                    <%= squares[3] %>
                </div>
            </div>
            <div class="square">
                <div>
                    <%= squares[4] %>
                </div>
            </div>
            <div class="square">
                <div>
                    <%= squares[5] %>
                </div>
            </div>

            <div class="square">
                <div>
                    <%= squares[6] %>
                </div>
            </div>
            <div class="square">
                <div>
                    <%= squares[7] %>
                </div>
            </div>
            <div class="square">
                <div>
                    <%= squares[8] %>
                </div>
            </div>
        </div>

        <br>
    </div>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        
        socket.emit('room ID', '<%= roomID %>');
    </script>

</body>
</html>