<!DOCTYPE html>
<html>
<head>
    <!-- FOR WHATEVER REASON when using dynamic routes, you need a / at the start of the CSS link -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>Bingo! With Friends</title>
</head>

<body>
    <div class="container">

        <h2>Welcome to Room <%= roomID %></h2>

        <div class="boardGrid">
            <% for (let i = 0; i < room.Players.length; i++) { %>
                <div class="boardContainer">
                    <div class="board" id="<%= room.Players[i].ID %>">
                        <% for (let j = 0; j < 9; j++) { %>
                            <div class="square">
                                <div id="<%= i %> <%= j %>">
                                    <!-- Individual square of individiual player -->
                                    Hey
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <%= room.Players[i].DisplayName %>
                </div>
            <% } %>
        </div>

        <br>

        <div id="qrcode-container"></div>

    </div>

    <script src="http://<%= IP %>:3000/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        new QRCode(document.getElementById("qrcode-container"), 'http://<%=process.env.IP%>:3000/rooms/<%=roomID%>');

        var socket = io();

        socket.emit('room ID', '<%=roomID%>');

        // Register hits from player pages and change color of given square
        socket.on('hit', (playerID, hitIndex, room) => {
            document.getElementById(playerID).style.backgroundColor = "green";
        });

    </script>
</body>
</html>